h1 { 
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-color: #000000;
	font-size: 3.5em;
	letter-spacing: +.05em;
	line-height: 1em;
}

p {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	color: #B3B3B3;
	font-size: 1em;
	line-height: 2em;
}

h1+h1 {
	line-height: .7em;
}

p+h1{
	line-height: 1em;
}

a {
	text-decoration: none;
	font-color: #000000;
	color: #000000;
}

a:hover {
	color: white;
	background-color: #31BBD7;
}

a[href^="mailto:"] {
	text-decoration: none;
	font-color: #000000;
	color: #000000;
}

a[href^="mailto:"]:hover {
	color: white;
	background-color: #31BBD7;
}

.text {
	padding: 0% 15% 10% 10%;
	margin-top: 2em;
	position: relative;
	max-width: 450px;
}

@media only screen and (max-width: 320px) {

   h1 { font-size: 1.6em; 
	   	color: #31BBD7;
}

}
